QGltcG9ydCAidGFpbHdpbmRjc3MiOwoKQGltcG9ydCAnQHJhZGl4LXVpL2Nv
bG9ycy9zYWdlLWRhcmsuY3NzJyBsYXllcihiYXNlKTsKQGltcG9ydCAnQHJh
ZGl4LXVpL2NvbG9ycy9vbGl2ZS5jc3MnIGxheWVyKGJhc2UpOwpAaW1wb3J0
ICdAcmFkaXgtdWkvY29sb3JzL29saXZlLWRhcmsuY3NzJyBsYXllcihiYXNl
KTsKQGltcG9ydCAnQHJhZGl4LXVpL2NvbG9ycy9zYW5kLmNzcycgbGF5ZXIo
YmFzZSk7CkBpbXBvcnQgJ0ByYWRpeC11aS9jb2xvcnMvc2FuZC1kYXJrLmNz
cycgbGF5ZXIoYmFzZSk7CkBpbXBvcnQgJ0ByYWRpeC11aS9jb2xvcnMvcmVk
LmNzcycgbGF5ZXIoYmFzZSk7CkBpbXBvcnQgJ0ByYWRpeC11aS9jb2xvcnMv
cmVkLWRhcmsuY3NzJyBsYXllcihiYXNlKTsKQGltcG9ydCAnQHJhZGl4LXVp
L2NvbG9ycy9ydWJ5LmNzcycgbGF5ZXIoYmFzZSk7CkBpbXBvcnQgJ0ByYWRp
eC11aS9jb2xvcnMvcnVieS1kYXJrLmNzcycgbGF5ZXIoYmFzZSk7CkBpbXBv
cnQgJ0ByYWRpeC11aS9jb2xvcnMvY3JpbXNvbi5jc3MnIGxheWVyKGJhc2Up
OwpAaW1wb3J0ICdAcmFkaXgtdWkvY29sb3JzL2NyaW1zb24tZGFyay5jc3Mn
IGxheWVyKGJhc2UpOwpAaW1wb3J0ICdAcmFkaXgtdWkvY29sb3JzL3Bpbmsu
Y3NzJyBsYXllcihiYXNlKTsKQGltcG9ydCAnQHJhZGl4LXVpL2NvbG9ycy9w
aW5rLWRhcmsuY3NzJyBsYXllcihiYXNlKTsKQGltcG9ydCAnQHJhZGl4LXVp
L2NvbG9ycy9wbHVtLmNzcycgbGF5ZXIoYmFzZSk7CkBpbXBvcnQgJ0ByYWRp
eC11aS9jb2xvcnMvcGx1bS1kYXJrLmNzcycgbGF5ZXIoYmFzZSk7CkBpbXBv
cnQgJ0ByYWRpeC11aS9jb2xvcnMvcHVycGxlLmNzcycgbGF5ZXIoYmFzZSk7
CkBpbXBvcnQgJ0ByYWRpeC11aS9jb2xvcnMvcHVycGxlLWRhcmsuY3NzJyBs
YXllcihiYXNlKTsKQGltcG9ydCAnQHJhZGl4LXVpL2NvbG9ycy92aW9sZXQu
Y3NzJyBsYXllcihiYXNlKTsKQGltcG9ydCAnQHJhZGl4LXVpL2NvbG9ycy92
aW9sZXQtZGFyay5jc3MnIGxheWVyKGJhc2UpOwpAaW1wb3J0ICdAcmFkaXgt
dWkvY29sb3JzL2lyaXMuY3NzJyBsYXllcihiYXNlKTsKQGltcG9ydCAnQHJh
ZGl4LXVpL2NvbG9ycy9pcmlzLWRhcmsuY3NzJyBsYXllcihiYXNlKTsKQGlt
cG9ydCAnQHJhZGl4LXVpL2NvbG9ycy9pbmRpZ28uY3NzJyBsYXllcihiYXNl
KTsKQGltcG9ydCAnQHJhZGl4LXVpL2NvbG9ycy9pbmRpZ28tZGFyay5jc3Mn
IGxheWVyKGJhc2UpOwpAaW1wb3J0ICdAcmFkaXgtdWkvY29sb3JzL2JsdWUu
Y3NzJyBsYXllcihiYXNlKTsKQGltcG9ydCAnQHJhZGl4LXVpL2NvbG9ycy9i
bHVlLWRhcmsuY3NzJyBsYXllcihiYXNlKTsKQGltcG9ydCAnQHJhZGl4LXVp
L2NvbG9ycy9jeWFuLmNzcycgbGF5ZXIoYmFzZSk7CkBpbXBvcnQgJ0ByYWRp
eC11aS9jb2xvcnMvY3lhbi1kYXJrLmNzcycgbGF5ZXIoYmFzZSk7CkBpbXBv
cnQgJ0ByYWRpeC11aS9jb2xvcnMvdGVhbC5jc3MnIGxheWVyKGJhc2UpOwpA
aW1wb3J0ICdAcmFkaXgtdWkvY29sb3JzL3RlYWwtZGFyay5jc3MnIGxheWVy
KGJhc2UpOwpAaW1wb3J0ICdAcmFkaXgtdWkvY29sb3JzL2phZGUuY3NzJyBs
YXllcihiYXNlKTsKQGltcG9ydCAnQHJhZGl4LXVpL2NvbG9ycy9qYWRlLWRh
cmsuY3NzJyBsYXllcihiYXNlKTsKQGltcG9ydCAnQHJhZGl4LXVpL2NvbG9y
cy9ncmVlbi5jc3MnIGxheWVyKGJhc2UpOwpAaW1wb3J0ICdAcmFkaXgtdWkv
Y29sb3JzL2dyZWVuLWRhcmsuY3NzJyBsYXllcihiYXNlKTsKQGltcG9ydCAn
QHJhZGl4LXVpL2NvbG9ycy9ncmFzcy5jc3MnIGxheWVyKGJhc2UpOwpAaW1w
b3J0ICdAcmFkaXgtdWkvY29sb3JzL2dyYXNzLWRhcmsuY3NzJyBsYXllcihi
YXNlKTsKQGltcG9ydCAnQHJhZGl4LXVpL2NvbG9ycy9icm9uemUuY3NzJyBs
YXllcihiYXNlKTsKQGltcG9ydCAnQHJhZGl4LXVpL2NvbG9ycy9icm9uemUt
ZGFyay5jc3MnIGxheWVyKGJhc2UpOwpAaW1wb3J0ICdAcmFkaXgtdWkvY29s
b3JzL2dvbGQuY3NzJyBsYXllcihiYXNlKTsKQGltcG9ydCAnQHJhZGl4LXVp
L2NvbG9ycy9nb2xkLWRhcmsuY3NzJyBsYXllcihiYXNlKTsKQGltcG9ydCAn
QHJhZGl4LXVpL2NvbG9ycy9icm93bi5jc3MnIGxheWVyKGJhc2UpOwpAaW1w
b3J0ICdAcmFkaXgtdWkvY29sb3JzL2Jyb3duLWRhcmsuY3NzJyBsYXllcihi
YXNlKTsKQGltcG9ydCAnQHJhZGl4LXVpL2NvbG9ycy9vcmFuZ2UuY3NzJyBs
YXllcihiYXNlKTsKQGltcG9ydCAnQHJhZGl4LXVpL2NvbG9ycy9vcmFuZ2Ut
ZGFyay5jc3MnIGxheWVyKGJhc2UpOwpAaW1wb3J0ICdAcmFkaXgtdWkvY29s
b3JzL2FtYmVyLmNzcycgbGF5ZXIoYmFzZSk7CkBpbXBvcnQgJ0ByYWRpeC11
aS9jb2xvcnMvYW1iZXItZGFyay5jc3MnIGxheWVyKGJhc2UpOwpAaW1wb3J0
ICdAcmFkaXgtdWkvY29sb3JzL3llbGxvdy5jc3MnIGxheWVyKGJhc2UpOwpA
aW1wb3J0ICdAcmFkaXgtdWkvY29sb3JzL3llbGxvdy1kYXJrLmNzcycgbGF5
ZXIoYmFzZSk7CkBpbXBvcnQgJ0ByYWRpeC11aS9jb2xvcnMvbGltZS5jc3Mn
IGxheWVyKGJhc2UpOwpAaW1wb3J0ICdAcmFkaXgtdWkvY29sb3JzL2xpbWUt
ZGFyay5jc3MnIGxheWVyKGJhc2UpOwpAaW1wb3J0ICdAcmFkaXgtdWkvY29s
b3JzL21pbnQuY3NzJyBsYXllcihiYXNlKTsKQGltcG9ydCAnQHJhZGl4LXVp
L2NvbG9ycy9taW50LWRhcmsuY3NzJyBsYXllcihiYXNlKTsKQGltcG9ydCAn
QHJhZGl4LXVpL2NvbG9ycy9za3kuY3NzJyBsYXllcihiYXNlKTsKQGltcG9y
dCAnQHJhZGl4LXVpL2NvbG9ycy9za3ktZGFyay5jc3MnIGxheWVyKGJhc2Up
OwpAaW1wb3J0ICdAcmFkaXgtdWkvY29sb3JzL3RvbWF0by5jc3MnIGxheWVy
KGJhc2UpOwpAaW1wb3J0ICdAcmFkaXgtdWkvY29sb3JzL3RvbWF0by1kYXJr
LmNzcycgbGF5ZXIoYmFzZSk7CkBpbXBvcnQgJ0ByYWRpeC11aS9jb2xvcnMv
Z3JheS5jc3MnIGxheWVyKGJhc2UpOwpAaW1wb3J0ICdAcmFkaXgtdWkvY29s
b3JzL2dyYXktZGFyay5jc3MnIGxheWVyKGJhc2UpOwpAaW1wb3J0ICdAcmFk
aXgtdWkvY29sb3JzL21hdXZlLmNzcycgbGF5ZXIoYmFzZSk7CkBpbXBvcnQg
J0ByYWRpeC11aS9jb2xvcnMvbWF1dmUtZGFyay5jc3MnIGxheWVyKGJhc2Up
OwpAaW1wb3J0ICdAcmFkaXgtdWkvY29sb3JzL3NsYXRlLmNzcycgbGF5ZXIo
YmFzZSk7CkBpbXBvcnQgJ0ByYWRpeC11aS9jb2xvcnMvc2xhdGUtZGFyay5j
c3MnIGxheWVyKGJhc2UpOwpAaW1wb3J0ICdAcmFkaXgtdWkvY29sb3JzL3Ns
YXRlLWFscGhhLmNzcycgbGF5ZXIoYmFzZSk7CkBpbXBvcnQgJ0ByYWRpeC11
aS9jb2xvcnMvc2xhdGUtZGFyay1hbHBoYS5jc3MnIGxheWVyKGJhc2UpOwoK
QGltcG9ydCAndGFpbHdpbmRjc3MvdGhlbWUnIGxheWVyKHRoZW1lKTsKCkBp
bXBvcnQgJ3RhaWx3aW5kY3NzL3ByZWZsaWdodCcgbGF5ZXIoYmFzZSk7Cgov
KgogIFRoZSBkZWZhdWx0IGJvcmRlciBjb2xvciBoYXMgY2hhbmdlZCB0byBg
Y3VycmVudENvbG9yYCBpbiBUYWlsd2luZCBDU1MgdjQsCiAgc28gd2UndmUg
YWRkZWQgdGhlc2UgY29tcGF0aWJpbGl0eSBzdHlsZXMgdG8gbWFrZSBzdXJl
IGV2ZXJ5dGhpbmcgc3RpbGwKICBsb29rcyB0aGUgc2FtZSBhcyBpdCBkaWQg
d2l0aCBUYWlsd2luZCBDU1MgdjMuCgogIElmIHdlIGV2ZXIgd2FudCB0byBy
ZW1vdmUgdGhlc2Ugc3R5bGVzLCB3ZSBuZWVkIHRvIGFkZCBhbiBleHBsaWNp
dCBib3JkZXIKICBjb2xvciB1dGlsaXR5IHRvIGFueSBlbGVtZW50IHRoYXQg
ZGVwZW5kcyBvbiB0aGVzZSBkZWZhdWx0cy4KKi8KQGxheWVyIGJhc2Ugewog
ICosCiAgOjphZnRlciwKICA6OmJlZm9yZSwKICA6OmJhY2tkcm9wLAogIDo6
ZmlsZS1zZWxlY3Rvci1idXR0b24gewogICAgYm9yZGVyLWNvbG9yOiB2YXIo
LS1jb2xvci1ncmF5LTIwMCwgY3VycmVudENvbG9yKTsKICB9Cn0KCkBsYXll
ciBiYXNlIHsKICAjc3BhcmstYXBwIHsKICAgIC0tdG9tYXRvLWNvbnRyYXN0
OiAjZmZmOwogICAgLS1yZWQtY29udHJhc3Q6ICNmZmY7CiAgICAtLXJ1Ynkt
Y29udHJhc3Q6ICNmZmY7CiAgICAtLWNyaW1zb24tY29udHJhc3Q6ICNmZmY7
CiAgICAtLXBpbmstY29udHJhc3Q6ICNmZmY7CiAgICAtLXBsdW0tY29udHJh
c3Q6ICNmZmY7CiAgICAtLXB1cnBsZS1jb250cmFzdDogI2ZmZjsKICAgIC0t
dmlvbGV0LWNvbnRyYXN0OiAjZmZmOwogICAgLS1pcmlzLWNvbnRyYXN0OiAj
ZmZmOwogICAgLS1pbmRpZ28tY29udHJhc3Q6ICNmZmY7CiAgICAtLWJsdWUt
Y29udHJhc3Q6ICNmZmY7CiAgICAtLWN5YW4tY29udHJhc3Q6ICNmZmY7CiAg
ICAtLXRlYWwtY29udHJhc3Q6ICNmZmY7CiAgICAtLWphZGUtY29udHJhc3Q6
ICNmZmY7CiAgICAtLWdyZWVuLWNvbnRyYXN0OiAjZmZmOwogICAgLS1ncmFz
cy1jb250cmFzdDogI2ZmZjsKICAgIC0tYnJvbnplLWNvbnRyYXN0OiAjZmZm
OwogICAgLS1nb2xkLWNvbnRyYXN0OiAjZmZmOwogICAgLS1icm93bi1jb250
cmFzdDogI2ZmZjsKICAgIC0tb3JhbmdlLWNvbnRyYXN0OiAjZmZmOwogICAg
LS1hbWJlci1jb250cmFzdDogIzAwMDsKICAgIC0teWVsbG93LWNvbnRyYXN0
OiAjMDAwOwogICAgLS1saW1lLWNvbnRyYXN0OiAjMDAwOwogICAgLS1taW50
LWNvbnRyYXN0OiAjMDAwOwogICAgLS1za3ktY29udHJhc3Q6ICMwMDA7CiAg
ICAtLWdyYXktY29udHJhc3Q6ICNmZmY7CiAgICAtLW1hdXZlLWNvbnRyYXN0
OiAjZmZmOwogICAgLS1zbGF0ZS1jb250cmFzdDogI2ZmZjsKICAgIC0tc2Fn
ZS1jb250cmFzdDogI2ZmZjsKICAgIC0tb2xpdmUtY29udHJhc3Q6ICNmZmY7
CiAgICAtLXNhbmQtY29udHJhc3Q6ICNmZmY7CgogICAgLyoqCiAgICogU3Bh
Y2luZyBzY2FsZQogICAqCiAgICogVGhlc2UgdmFyaWFibGVzIGRlZmluZSBh
IHNwYWNpbmcgc2NhbGUgYmFzZWQgb24gVGFpbHdpbmQncyBkZWZhdWx0Lgog
ICAqIFdlJ3ZlIGludHJvZHVjZWQgYSAtLXNpemUtc2NhbGUgdmFyaWFibGUg
YXMgYSBtdWx0aXBsaWVyLgogICAqIEJ5IGFkanVzdGluZyB0aGlzIHNpbmds
ZSB2YWx1ZSwgd2UgY2FuIHByb3BvcnRpb25hbGx5CiAgICogc2NhbGUgYWxs
IHNwYWNpbmcgdGhyb3VnaG91dCB0aGUgZW50aXJlIGFwcGxpY2F0aW9uLgog
ICAqCiAgICogaHR0cHM6Ly90YWlsd2luZGNzcy5jb20vZG9jcy9jdXN0b21p
emluZy1zcGFjaW5nI2RlZmF1bHQtc3BhY2luZy1zY2FsZQogICAqLwogICAg
LS1zaXplLXNjYWxlOiAxOwogICAgLS1zaXplLTA6IDBweDsKICAgIC0tc2l6
ZS1weDogMXB4OwogICAgLS1zaXplLTAtNTogY2FsYygwLjEyNXJlbSAqIHZh
cigtLXNpemUtc2NhbGUpKTsKICAgIC0tc2l6ZS0xOiBjYWxjKDAuMjVyZW0g
KiB2YXIoLS1zaXplLXNjYWxlKSk7CiAgICAtLXNpemUtMS01OiBjYWxjKDAu
Mzc1cmVtICogdmFyKC0tc2l6ZS1zY2FsZSkpOwogICAgLS1zaXplLTI6IGNh
bGMoMC41cmVtICogdmFyKC0tc2l6ZS1zY2FsZSkpOwogICAgLS1zaXplLTIt
NTogY2FsYygwLjYyNXJlbSAqIHZhcigtLXNpemUtc2NhbGUpKTsKICAgIC0t
c2l6ZS0zOiBjYWxjKDAuNzVyZW0gKiB2YXIoLS1zaXplLXNjYWxlKSk7CiAg
ICAtLXNpemUtMy01OiBjYWxjKDAuODc1cmVtICogdmFyKC0tc2l6ZS1zY2Fs
ZSkpOwogICAgLS1zaXplLTQ6IGNhbGMoMXJlbSAqIHZhcigtLXNpemUtc2Nh
bGUpKTsKICAgIC0tc2l6ZS01OiBjYWxjKDEuMjVyZW0gKiB2YXIoLS1zaXpl
LXNjYWxlKSk7CiAgICAtLXNpemUtNjogY2FsYygxLjVyZW0gKiB2YXIoLS1z
aXplLXNjYWxlKSk7CiAgICAtLXNpemUtNzogY2FsYygxLjc1cmVtICogdmFy
KC0tc2l6ZS1zY2FsZSkpOwogICAgLS1zaXplLTg6IGNhbGMoMnJlbSAqIHZh
cigtLXNpemUtc2NhbGUpKTsKICAgIC0tc2l6ZS05OiBjYWxjKDIuMjVyZW0g
KiB2YXIoLS1zaXplLXNjYWxlKSk7CiAgICAtLXNpemUtMTA6IGNhbGMoMi41
cmVtICogdmFyKC0tc2l6ZS1zY2FsZSkpOwogICAgLS1zaXplLTExOiBjYWxj
KDIuNzVyZW0gKiB2YXIoLS1zaXplLXNjYWxlKSk7CiAgICAtLXNpemUtMTI6
IGNhbGMoM3JlbSAqIHZhcigtLXNpemUtc2NhbGUpKTsKICAgIC0tc2l6ZS0x
NDogY2FsYygzLjVyZW0gKiB2YXIoLS1zaXplLXNjYWxlKSk7CiAgICAtLXNp
emUtMTY6IGNhbGMoNHJlbSAqIHZhcigtLXNpemUtc2NhbGUpKTsKICAgIC0t
c2l6ZS0yMDogY2FsYyg1cmVtICogdmFyKC0tc2l6ZS1zY2FsZSkpOwogICAg
LS1zaXplLTI0OiBjYWxjKDZyZW0gKiB2YXIoLS1zaXplLXNjYWxlKSk7CiAg
ICAtLXNpemUtMjg6IGNhbGMoN3JlbSAqIHZhcigtLXNpemUtc2NhbGUpKTsK
ICAgIC0tc2l6ZS0zMjogY2FsYyg4cmVtICogdmFyKC0tc2l6ZS1zY2FsZSkp
OwogICAgLS1zaXplLTM2OiBjYWxjKDlyZW0gKiB2YXIoLS1zaXplLXNjYWxl
KSk7CiAgICAtLXNpemUtNDA6IGNhbGMoMTByZW0gKiB2YXIoLS1zaXplLXNj
YWxlKSk7CiAgICAtLXNpemUtNDQ6IGNhbGMoMTFyZW0gKiB2YXIoLS1zaXpl
LXNjYWxlKSk7CiAgICAtLXNpemUtNDg6IGNhbGMoMTJyZW0gKiB2YXIoLS1z
aXplLXNjYWxlKSk7CiAgICAtLXNpemUtNTI6IGNhbGMoMTNyZW0gKiB2YXIo
LS1zaXplLXNjYWxlKSk7CiAgICAtLXNpemUtNTY6IGNhbGMoMTRyZW0gKiB2
YXIoLS1zaXplLXNjYWxlKSk7CiAgICAtLXNpemUtNjA6IGNhbGMoMTVyZW0g
KiB2YXIoLS1zaXplLXNjYWxlKSk7CiAgICAtLXNpemUtNjQ6IGNhbGMoMTZy
ZW0gKiB2YXIoLS1zaXplLXNjYWxlKSk7CiAgICAtLXNpemUtNzI6IGNhbGMo
MThyZW0gKiB2YXIoLS1zaXplLXNjYWxlKSk7CiAgICAtLXNpemUtODA6IGNh
bGMoMjByZW0gKiB2YXIoLS1zaXplLXNjYWxlKSk7CiAgICAtLXNpemUtOTY6
IGNhbGMoMjRyZW0gKiB2YXIoLS1zaXplLXNjYWxlKSk7CgogICAgLyogQm9y
ZGVyIHJhZGlpICovCiAgICAtLXJhZGl1cy1mYWN0b3I6IDE7CiAgICAtLXJh
ZGl1cy1zbTogY2FsYygycHggKiB2YXIoLS1yYWRpdXMtZmFjdG9yKSAqIHZh
cigtLXNpemUtc2NhbGUpKTsKICAgIC0tcmFkaXVzLW1kOiBjYWxjKDZweCAq
IHZhcigtLXJhZGl1cy1mYWN0b3IpICogdmFyKC0tc2l6ZS1zY2FsZSkpOwog
ICAgLS1yYWRpdXMtbGc6IGNhbGMoOHB4ICogdmFyKC0tcmFkaXVzLWZhY3Rv
cikgKiB2YXIoLS1zaXplLXNjYWxlKSk7CiAgICAtLXJhZGl1cy14bDogY2Fs
YygxMnB4ICogdmFyKC0tcmFkaXVzLWZhY3RvcikgKiB2YXIoLS1zaXplLXNj
YWxlKSk7CiAgICAtLXJhZGl1cy0yeGw6IGNhbGMoMTZweCAqIHZhcigtLXJh
ZGl1cy1mYWN0b3IpICogdmFyKC0tc2l6ZS1zY2FsZSkpOwogICAgLS1yYWRp
dXMtZnVsbDogOTk5OXB4OwoKICAgIC8qIE5ldXRyYWwgY29sb3JzICovCiAg
ICAtLWNvbG9yLW5ldXRyYWwtMTogdmFyKC0tc2xhdGUtMSk7CiAgICAtLWNv
bG9yLW5ldXRyYWwtMjogdmFyKC0tc2xhdGUtMik7CiAgICAtLWNvbG9yLW5l
dXRyYWwtMzogdmFyKC0tc2xhdGUtMyk7CiAgICAtLWNvbG9yLW5ldXRyYWwt
NDogdmFyKC0tc2xhdGUtNCk7CiAgICAtLWNvbG9yLW5ldXRyYWwtNTogdmFy
KC0tc2xhdGUtNSk7CiAgICAtLWNvbG9yLW5ldXRyYWwtNjogdmFyKC0tc2xh
dGUtNik7CiAgICAtLWNvbG9yLW5ldXRyYWwtNzogdmFyKC0tc2xhdGUtNyk7
CiAgICAtLWNvbG9yLW5ldXRyYWwtODogdmFyKC0tc2xhdGUtOCk7CiAgICAt
LWNvbG9yLW5ldXRyYWwtOTogdmFyKC0tc2xhdGUtOSk7CiAgICAtLWNvbG9y
LW5ldXRyYWwtMTA6IHZhcigtLXNsYXRlLTEwKTsKICAgIC0tY29sb3ItbmV1
dHJhbC0xMTogdmFyKC0tc2xhdGUtMTEpOwogICAgLS1jb2xvci1uZXV0cmFs
LTEyOiB2YXIoLS1zbGF0ZS0xMik7CiAgICAtLWNvbG9yLW5ldXRyYWwtYTE6
IHZhcigtLXNsYXRlLWExKTsKICAgIC0tY29sb3ItbmV1dHJhbC1hMjogdmFy
KC0tc2xhdGUtYTIpOwogICAgLS1jb2xvci1uZXV0cmFsLWEzOiB2YXIoLS1z
bGF0ZS1hMyk7CiAgICAtLWNvbG9yLW5ldXRyYWwtYTQ6IHZhcigtLXNsYXRl
LWE0KTsKICAgIC0tY29sb3ItbmV1dHJhbC1hNTogdmFyKC0tc2xhdGUtYTUp
OwogICAgLS1jb2xvci1uZXV0cmFsLWE2OiB2YXIoLS1zbGF0ZS1hNik7CiAg
ICAtLWNvbG9yLW5ldXRyYWwtYTc6IHZhcigtLXNsYXRlLWE3KTsKICAgIC0t
Y29sb3ItbmV1dHJhbC1hODogdmFyKC0tc2xhdGUtYTgpOwogICAgLS1jb2xv
ci1uZXV0cmFsLWE5OiB2YXIoLS1zbGF0ZS1hOSk7CiAgICAtLWNvbG9yLW5l
dXRyYWwtYTEwOiB2YXIoLS1zbGF0ZS1hMTApOwogICAgLS1jb2xvci1uZXV0
cmFsLWExMTogdmFyKC0tc2xhdGUtYTExKTsKICAgIC0tY29sb3ItbmV1dHJh
bC1hMTI6IHZhcigtLXNsYXRlLWExMik7CiAgICAtLWNvbG9yLW5ldXRyYWwt
Y29udHJhc3Q6IHZhcigtLXNsYXRlLWNvbnRyYXN0KTsKCiAgICAvKiBBY2Nl
bnQgY29sb3JzICovCiAgICAtLWNvbG9yLWFjY2VudC0xOiB2YXIoLS1ibHVl
LTEpOwogICAgLS1jb2xvci1hY2NlbnQtMjogdmFyKC0tYmx1ZS0yKTsKICAg
IC0tY29sb3ItYWNjZW50LTM6IHZhcigtLWJsdWUtMyk7CiAgICAtLWNvbG9y
LWFjY2VudC00OiB2YXIoLS1ibHVlLTQpOwogICAgLS1jb2xvci1hY2NlbnQt
NTogdmFyKC0tYmx1ZS01KTsKICAgIC0tY29sb3ItYWNjZW50LTY6IHZhcigt
LWJsdWUtNik7CiAgICAtLWNvbG9yLWFjY2VudC03OiB2YXIoLS1ibHVlLTcp
OwogICAgLS1jb2xvci1hY2NlbnQtODogdmFyKC0tYmx1ZS04KTsKICAgIC0t
Y29sb3ItYWNjZW50LTk6IHZhcigtLWJsdWUtOSk7CiAgICAtLWNvbG9yLWFj
Y2VudC0xMDogdmFyKC0tYmx1ZS0xMCk7CiAgICAtLWNvbG9yLWFjY2VudC0x
MTogdmFyKC0tYmx1ZS0xMSk7CiAgICAtLWNvbG9yLWFjY2VudC0xMjogdmFy
KC0tYmx1ZS0xMik7CiAgICAtLWNvbG9yLWFjY2VudC1jb250cmFzdDogdmFy
KC0tYmx1ZS1jb250cmFzdCk7CgogICAgLyogU2Vjb25kYXJ5IGFjY2VudCBj
b2xvcnMgKi8KICAgIC0tY29sb3ItYWNjZW50LXNlY29uZGFyeS0xOiB2YXIo
LS12aW9sZXQtMSk7CiAgICAtLWNvbG9yLWFjY2VudC1zZWNvbmRhcnktMjog
dmFyKC0tdmlvbGV0LTIpOwogICAgLS1jb2xvci1hY2NlbnQtc2Vjb25kYXJ5
LTM6IHZhcigtLXZpb2xldC0zKTsKICAgIC0tY29sb3ItYWNjZW50LXNlY29u
ZGFyeS00OiB2YXIoLS12aW9sZXQtNCk7CiAgICAtLWNvbG9yLWFjY2VudC1z
ZWNvbmRhcnktNTogdmFyKC0tdmlvbGV0LTUpOwogICAgLS1jb2xvci1hY2Nl
bnQtc2Vjb25kYXJ5LTY6IHZhcigtLXZpb2xldC02KTsKICAgIC0tY29sb3It
YWNjZW50LXNlY29uZGFyeS03OiB2YXIoLS12aW9sZXQtNyk7CiAgICAtLWNv
bG9yLWFjY2VudC1zZWNvbmRhcnktODogdmFyKC0tdmlvbGV0LTgpOwogICAg
LS1jb2xvci1hY2NlbnQtc2Vjb25kYXJ5LTk6IHZhcigtLXZpb2xldC05KTsK
ICAgIC0tY29sb3ItYWNjZW50LXNlY29uZGFyeS0xMDogdmFyKC0tdmlvbGV0
LTEwKTsKICAgIC0tY29sb3ItYWNjZW50LXNlY29uZGFyeS0xMTogdmFyKC0t
dmlvbGV0LTExKTsKICAgIC0tY29sb3ItYWNjZW50LXNlY29uZGFyeS0xMjog
dmFyKC0tdmlvbGV0LTEyKTsKICAgIC0tY29sb3ItYWNjZW50LXNlY29uZGFy
eS1jb250cmFzdDogdmFyKC0tdmlvbGV0LWNvbnRyYXN0KTsKCiAgICAvKiBG
b3JlZ3JvdW5kIGNvbG9ycyAqLwogICAgLS1jb2xvci1mZzogdmFyKC0tY29s
b3ItbmV1dHJhbC0xMik7CiAgICAtLWNvbG9yLWZnLXNlY29uZGFyeTogdmFy
KC0tY29sb3ItbmV1dHJhbC1hMTEpOwoKICAgIC8qIEJhY2tncm91bmQgY29s
b3JzICovCiAgICAtLWNvbG9yLWJnOiAjZmZmZmZmOwogICAgLS1jb2xvci1i
Zy1pbnNldDogdmFyKC0tY29sb3ItbmV1dHJhbC0yKTsKICAgIC0tY29sb3It
Ymctb3ZlcmxheTogI2ZmZmZmZjsKCiAgICAvKiBGb2N1cyByaW5nICovCiAg
ICAtLWNvbG9yLWZvY3VzLXJpbmc6IHZhcigtLWNvbG9yLWFjY2VudC05KTsK
CiAgICAvKiBGb250cyAqLwogICAgLS1mb250LXNhbnMtc2VyaWY6IHVpLXNh
bnMtc2VyaWYsIHN5c3RlbS11aSwgc2Fucy1zZXJpZiwgIkFwcGxlIENvbG9y
IEVtb2ppIiwKICAgICAgIlNlZ29lIFVJIEVtb2ppIiwgIlNlZ29lIFVJIFN5
bWJvbCIsICJOb3RvIENvbG9yIEVtb2ppIjsKICAgIC0tZm9udC1zZXJpZjog
dWktc2VyaWYsIEdlb3JnaWEsIENhbWJyaWEsICJUaW1lcyBOZXcgUm9tYW4i
LCBUaW1lcywgc2VyaWY7CiAgICAtLWZvbnQtbW9ub3NwYWNlOiB1aS1tb25v
c3BhY2UsIFNGTW9uby1SZWd1bGFyLCBNZW5sbywgTW9uYWNvLCBDb25zb2xh
cywKICAgICAgIkxpYmVyYXRpb24gTW9ubyIsICJDb3VyaWVyIE5ldyIsIG1v
bm9zcGFjZTsKICAgIC0tZm9udC1mYW1pbHk6IHZhcigtLWZvbnQtc2Fucy1z
ZXJpZik7CiAgfQoKICAjc3BhcmstYXBwLmRhcmstdGhlbWUgewogICAgLS1j
b2xvci1iZzogdmFyKC0tY29sb3ItbmV1dHJhbC0xKTsKICAgIC0tY29sb3It
YmctaW5zZXQ6ICMwMDAwMDA7CiAgICAtLWNvbG9yLWJnLW92ZXJsYXk6IHZh
cigtLWNvbG9yLW5ldXRyYWwtMyk7CiAgfQp9
