QGltcG9ydCAndGFpbHdpbmRjc3MnOwpAaW1wb3J0ICJ0dy1hbmltYXRlLWNz
cyI7CgpAbGF5ZXIgYmFzZSB7CiAgKiB7CiAgICBAYXBwbHkgYm9yZGVyLWJv
cmRlcjsKICB9Cn0KCjpyb290IHsKICAtLWJhY2tncm91bmQ6IG9rbGNoKDAu
MTUgMC4wMiAyODUpOwogIC0tZm9yZWdyb3VuZDogb2tsY2goMC45NSAwLjA1
IDY1KTsKICAKICAtLWNhcmQ6IG9rbGNoKDAuMjAgMC4wMyAyODUpOwogIC0t
Y2FyZC1mb3JlZ3JvdW5kOiBva2xjaCgwLjk1IDAuMDUgNjUpOwogIAogIC0t
cG9wb3Zlcjogb2tsY2goMC4xOCAwLjAzIDI4NSk7CiAgLS1wb3BvdmVyLWZv
cmVncm91bmQ6IG9rbGNoKDAuOTUgMC4wNSA2NSk7CiAgCiAgLS1wcmltYXJ5
OiBva2xjaCgwLjY1IDAuMjAgNDApOwogIC0tcHJpbWFyeS1mb3JlZ3JvdW5k
OiBva2xjaCgwLjEwIDAuMDIgMjg1KTsKICAKICAtLXNlY29uZGFyeTogb2ts
Y2goOTguNCUgMC4wMDMgMjQ3Ljg1OCk7CiAgLS1zZWNvbmRhcnktZm9yZWdy
b3VuZDogb2tsY2goMC45NSAwLjA1IDY1KTsKICAKICAtLW11dGVkOiBva2xj
aCgwLjI1IDAuMDMgMjg1KTsKICAtLW11dGVkLWZvcmVncm91bmQ6IG9rbGNo
KDAuNjAgMC4wNSAyODUpOwogIAogIC0tYWNjZW50OiBva2xjaCg5Ni44JSAw
LjAwNyAyNDcuODk2KTsKICAtLWFjY2VudC1mb3JlZ3JvdW5kOiBva2xjaCgw
LjEwIDAuMDIgMjg1KTsKICAKICAtLWRlc3RydWN0aXZlOiBva2xjaCgwLjU1
IDAuMjIgMjUpOwogIC0tZGVzdHJ1Y3RpdmUtZm9yZWdyb3VuZDogb2tsY2go
MC45OCAwIDApOwogIAogIC0tYm9yZGVyOiBva2xjaCgwLjM1IDAuMDggMjg1
KTsKICAtLWlucHV0OiBva2xjaCgwLjM1IDAuMDggMjg1KTsKICAtLXJpbmc6
IG9rbGNoKDQwLjglIDAuMTIzIDM4LjE3Mik7CiAgCiAgLS1yYWRpdXM6IDFy
ZW07CiAgCiAgLS1mb250LXNhbnM6IENhYmluOwogIAogIC0tZm9udC1zZXJp
ZjogQ29ybW9yYW50Owp9CgpAdGhlbWUgewogIC0tY29sb3ItYmFja2dyb3Vu
ZDogdmFyKC0tYmFja2dyb3VuZCk7CiAgLS1jb2xvci1mb3JlZ3JvdW5kOiB2
YXIoLS1mb3JlZ3JvdW5kKTsKICAtLWNvbG9yLWNhcmQ6IHZhcigtLWNhcmQp
OwogIC0tY29sb3ItY2FyZC1mb3JlZ3JvdW5kOiB2YXIoLS1jYXJkLWZvcmVn
cm91bmQpOwogIC0tY29sb3ItcG9wb3ZlcjogdmFyKC0tcG9wb3Zlcik7CiAg
LS1jb2xvci1wb3BvdmVyLWZvcmVncm91bmQ6IHZhcigtLXBvcG92ZXItZm9y
ZWdyb3VuZCk7CiAgLS1jb2xvci1wcmltYXJ5OiB2YXIoLS1wcmltYXJ5KTsK
ICAtLWNvbG9yLXByaW1hcnktZm9yZWdyb3VuZDogdmFyKC0tcHJpbWFyeS1m
b3JlZ3JvdW5kKTsKICAtLWNvbG9yLXNlY29uZGFyeTogdmFyKC0tc2Vjb25k
YXJ5KTsKICAtLWNvbG9yLXNlY29uZGFyeS1mb3JlZ3JvdW5kOiB2YXIoLS1z
ZWNvbmRhcnktZm9yZWdyb3VuZCk7CiAgLS1jb2xvci1tdXRlZDogdmFyKC0t
bXV0ZWQpOwogIC0tY29sb3ItbXV0ZWQtZm9yZWdyb3VuZDogdmFyKC0tbXV0
ZWQtZm9yZWdyb3VuZCk7CiAgLS1jb2xvci1hY2NlbnQ6IHZhcigtLWFjY2Vu
dCk7CiAgLS1jb2xvci1hY2NlbnQtZm9yZWdyb3VuZDogdmFyKC0tYWNjZW50
LWZvcmVncm91bmQpOwogIC0tY29sb3ItZGVzdHJ1Y3RpdmU6IHZhcigtLWRl
c3RydWN0aXZlKTsKICAtLWNvbG9yLWRlc3RydWN0aXZlLWZvcmVncm91bmQ6
IHZhcigtLWRlc3RydWN0aXZlLWZvcmVncm91bmQpOwogIC0tY29sb3ItYm9y
ZGVyOiB2YXIoLS1ib3JkZXIpOwogIC0tY29sb3ItaW5wdXQ6IHZhcigtLWlu
cHV0KTsKICAtLWNvbG9yLXJpbmc6IHZhcigtLXJpbmcpOwoKICAtLXJhZGl1
cy1zbTogY2FsYyh2YXIoLS1yYWRpdXMpICogMC41KTsKICAtLXJhZGl1cy1t
ZDogdmFyKC0tcmFkaXVzKTsKICAtLXJhZGl1cy1sZzogY2FsYyh2YXIoLS1y
YWRpdXMpICogMS41KTsKICAtLXJhZGl1cy14bDogY2FsYyh2YXIoLS1yYWRp
dXMpICogMik7CiAgLS1yYWRpdXMtMnhsOiBjYWxjKHZhcigtLXJhZGl1cykg
KiAzKTsKICAtLXJhZGl1cy1mdWxsOiA5OTk5cHg7Cn0KCmJvZHkgewogIGZv
bnQtZmFtaWx5OiB2YXIoLS1mb250LXNhbnMpLCB1aS1zYW5zLXNlcmlmLCBz
eXN0ZW0tdWksIC1hcHBsZS1zeXN0ZW0sIEJsaW5rTWFjU3lzdGVtRm9udCwg
J1NlZ29lIFVJJywgUm9ib3RvLCAnSGVsdmV0aWNhIE5ldWUnLCBBcmlhbCwg
J05vdG8gU2FucycsIHNhbnMtc2VyaWYsICdBcHBsZSBDb2xvciBFbW9qaScs
ICdTZWdvZSBVSSBFbW9qaScsICdTZWdvZSBVSSBTeW1ib2wnLCAnTm90byBD
b2xvciBFbW9qaSc7Cn0KCmgxLCBoMiwgaDMsIGg0LCBoNSwgaDYgewogIGZv
bnQtZmFtaWx5OiAnQ29ybW9yYW50IFVuaWNhc2UnLCBzZXJpZjsKfQoKLmZv
bnQtc2VyaWYgewogIGZvbnQtZmFtaWx5OiAnQ29ybW9yYW50IFVuaWNhc2Un
LCBzZXJpZjsKfQoKcCB7CiAgZm9udC1mYW1pbHk6ICdJbnRlcicsIHNhbnMt
c2VyaWY7Cn0KCi5oZXJvLXRpdGxlIHsKICBmb250LWZhbWlseTogJ01lZGll
dmFsU2hhcnAnLCBzZXJpZjsKICBmb250LXdlaWdodDogNDAwOwogIGxldHRl
ci1zcGFjaW5nOiAwLjAzZW07CiAgdGV4dC1zaGFkb3c6IDAgMnB4IDhweCBv
a2xjaCgwLjY1IDAuMjAgNDAgLyAwLjMpOwogIGxpbmUtaGVpZ2h0OiAxLjI7
Cn0KCi5zZWN0aW9uLXRpdGxlIHsKICBmb250LWZhbWlseTogJ0Nvcm1vcmFu
dCBVbmljYXNlJywgc2VyaWY7CiAgZm9udC13ZWlnaHQ6IDYwMDsKICBsZXR0
ZXItc3BhY2luZzogMC4wMmVtOwogIGxpbmUtaGVpZ2h0OiAxLjM7Cn0KCi5n
bG93LWFjY2VudCB7CiAgYm94LXNoYWRvdzogMCAwIDIwcHggb2tsY2goMC42
NSAwLjIwIDQwIC8gMC40KTsKICB0cmFuc2l0aW9uOiBib3gtc2hhZG93IDAu
M3MgZWFzZTsKfQoKLmdsb3ctYWNjZW50OmhvdmVyIHsKICBib3gtc2hhZG93
OiAwIDAgMzBweCBva2xjaCgwLjY1IDAuMjAgNDAgLyAwLjYpOwp9CgpAa2V5
ZnJhbWVzIHB1bHNlLWdsb3cgewogIDAlLCAxMDAlIHsKICAgIGJveC1zaGFk
b3c6IDAgMCAzMHB4IG9rbGNoKDAuNjUgMC4yMCA0MCAvIDAuNiksIDAgMCA2
MHB4IG9rbGNoKDAuNjUgMC4yMCA0MCAvIDAuMyk7CiAgICB0cmFuc2Zvcm06
IHNjYWxlKDEpOwogIH0KICA1MCUgewogICAgYm94LXNoYWRvdzogMCAwIDUw
cHggb2tsY2goMC42NSAwLjIwIDQwIC8gMC45KSwgMCAwIDEwMHB4IG9rbGNo
KDAuNjUgMC4yMCA0MCAvIDAuNSk7CiAgICB0cmFuc2Zvcm06IHNjYWxlKDEu
MDUpOwogIH0KfQoKLnB1bHNlLWdsb3cgewogIGFuaW1hdGlvbjogcHVsc2Ut
Z2xvdyAxLjVzIGVhc2UtaW4tb3V0IGluZmluaXRlOwp9CgpAa2V5ZnJhbWVz
IGJvdW5jZS1zbG93IHsKICAwJSwgMTAwJSB7CiAgICB0cmFuc2Zvcm06IHRy
YW5zbGF0ZVkoMCk7CiAgfQogIDUwJSB7CiAgICB0cmFuc2Zvcm06IHRyYW5z
bGF0ZVkoLTEwcHgpOwogIH0KfQoKLmFuaW1hdGUtYm91bmNlLXNsb3cgewog
IGFuaW1hdGlvbjogYm91bmNlLXNsb3cgMnMgZWFzZS1pbi1vdXQgaW5maW5p
dGU7Cn0KCkBrZXlmcmFtZXMgcGluZy1zbG93IHsKICAwJSB7CiAgICB0cmFu
c2Zvcm06IHNjYWxlKDEpOwogICAgb3BhY2l0eTogMC42OwogIH0KICA1MCUg
ewogICAgdHJhbnNmb3JtOiBzY2FsZSgxLjUpOwogICAgb3BhY2l0eTogMDsK
ICB9CiAgMTAwJSB7CiAgICB0cmFuc2Zvcm06IHNjYWxlKDEpOwogICAgb3Bh
Y2l0eTogMC42OwogIH0KfQoKLmFuaW1hdGUtcGluZy1zbG93IHsKICBhbmlt
YXRpb246IHBpbmctc2xvdyAycyBjdWJpYy1iZXppZXIoMCwgMCwgMC4yLCAx
KSBpbmZpbml0ZTsKfQoKQGtleWZyYW1lcyBzY3JvbGwgewogIDAlIHsKICAg
IHRyYW5zZm9ybTogdHJhbnNsYXRlWCgwKTsKICB9CiAgMTAwJSB7CiAgICB0
cmFuc2Zvcm06IHRyYW5zbGF0ZVgoLTMzLjMzMyUpOwogIH0KfQoKLmFuaW1h
dGUtc2Nyb2xsIHsKICBhbmltYXRpb246IHNjcm9sbCAzMHMgbGluZWFyIGlu
ZmluaXRlOwp9
