QGltcG9ydCAndGFpbHdpbmRjc3MnOwoKQGltcG9ydCAnLi9zdHlsZXMvdGhl
bWUuY3NzJzsKQGltcG9ydCAnLi9pbmRleC5jc3MnOwpAaW1wb3J0ICJ0dy1h
bmltYXRlLWNzcyI7Ci8qCiAgLS0tYnJlYWstLS0KKi8KQGN1c3RvbS12YXJp
YW50IGRhcmsgKCY6aXMoLmRhcmsgKikpOwoKQGNvbmZpZyAnLi4vdGFpbHdp
bmQuY29uZmlnLmpzJzsKCi8qCiAgVGhlIGRlZmF1bHQgYm9yZGVyIGNvbG9y
IGhhcyBjaGFuZ2VkIHRvIGBjdXJyZW50Q29sb3JgIGluIFRhaWx3aW5kIENT
UyB2NCwKICBzbyB3ZSd2ZSBhZGRlZCB0aGVzZSBjb21wYXRpYmlsaXR5IHN0
eWxlcyB0byBtYWtlIHN1cmUgZXZlcnl0aGluZyBzdGlsbAogIGxvb2tzIHRo
ZSBzYW1lIGFzIGl0IGRpZCB3aXRoIFRhaWx3aW5kIENTUyB2My4KCiAgSWYg
d2UgZXZlciB3YW50IHRvIHJlbW92ZSB0aGVzZSBzdHlsZXMsIHdlIG5lZWQg
dG8gYWRkIGFuIGV4cGxpY2l0IGJvcmRlcgogIGNvbG9yIHV0aWxpdHkgdG8g
YW55IGVsZW1lbnQgdGhhdCBkZXBlbmRzIG9uIHRoZXNlIGRlZmF1bHRzLgoq
LwpAbGF5ZXIgYmFzZSB7CiAgKiwKICA6OmFmdGVyLAogIDo6YmVmb3JlLAog
IDo6YmFja2Ryb3AsCiAgOjpmaWxlLXNlbGVjdG9yLWJ1dHRvbiB7CiAgICBi
b3JkZXItY29sb3I6IHZhcigtLWNvbG9yLWdyYXktMjAwLCBjdXJyZW50Q29s
b3IpOwogIH0KfQoKLyoKICAtLS1icmVhay0tLQoqLwo6cm9vdCB7CiAgLS1y
YWRpdXM6IDAuNjI1cmVtOwogIC0tYmFja2dyb3VuZDogb2tsY2goMSAwIDAp
OwogIC0tZm9yZWdyb3VuZDogb2tsY2goMC4xNDUgMCAwKTsKICAtLWNhcmQ6
IG9rbGNoKDEgMCAwKTsKICAtLWNhcmQtZm9yZWdyb3VuZDogb2tsY2goMC4x
NDUgMCAwKTsKICAtLXBvcG92ZXI6IG9rbGNoKDEgMCAwKTsKICAtLXBvcG92
ZXItZm9yZWdyb3VuZDogb2tsY2goMC4xNDUgMCAwKTsKICAtLXByaW1hcnk6
IG9rbGNoKDAuMjA1IDAgMCk7CiAgLS1wcmltYXJ5LWZvcmVncm91bmQ6IG9r
bGNoKDAuOTg1IDAgMCk7CiAgLS1zZWNvbmRhcnk6IG9rbGNoKDAuOTcgMCAw
KTsKICAtLXNlY29uZGFyeS1mb3JlZ3JvdW5kOiBva2xjaCgwLjIwNSAwIDAp
OwogIC0tbXV0ZWQ6IG9rbGNoKDAuOTcgMCAwKTsKICAtLW11dGVkLWZvcmVn
cm91bmQ6IG9rbGNoKDAuNTU2IDAgMCk7CiAgLS1hY2NlbnQ6IG9rbGNoKDAu
OTcgMCAwKTsKICAtLWFjY2VudC1mb3JlZ3JvdW5kOiBva2xjaCgwLjIwNSAw
IDApOwogIC0tZGVzdHJ1Y3RpdmU6IG9rbGNoKDAuNTc3IDAuMjQ1IDI3LjMy
NSk7CiAgLS1ib3JkZXI6IG9rbGNoKDAuOTIyIDAgMCk7CiAgLS1pbnB1dDog
b2tsY2goMC45MjIgMCAwKTsKICAtLXJpbmc6IG9rbGNoKDAuNzA4IDAgMCk7
CiAgLS1jaGFydC0xOiBva2xjaCgwLjY0NiAwLjIyMiA0MS4xMTYpOwogIC0t
Y2hhcnQtMjogb2tsY2goMC42IDAuMTE4IDE4NC43MDQpOwogIC0tY2hhcnQt
Mzogb2tsY2goMC4zOTggMC4wNyAyMjcuMzkyKTsKICAtLWNoYXJ0LTQ6IG9r
bGNoKDAuODI4IDAuMTg5IDg0LjQyOSk7CiAgLS1jaGFydC01OiBva2xjaCgw
Ljc2OSAwLjE4OCA3MC4wOCk7CiAgLS1zaWRlYmFyOiBva2xjaCgwLjk4NSAw
IDApOwogIC0tc2lkZWJhci1mb3JlZ3JvdW5kOiBva2xjaCgwLjE0NSAwIDAp
OwogIC0tc2lkZWJhci1wcmltYXJ5OiBva2xjaCgwLjIwNSAwIDApOwogIC0t
c2lkZWJhci1wcmltYXJ5LWZvcmVncm91bmQ6IG9rbGNoKDAuOTg1IDAgMCk7
CiAgLS1zaWRlYmFyLWFjY2VudDogb2tsY2goMC45NyAwIDApOwogIC0tc2lk
ZWJhci1hY2NlbnQtZm9yZWdyb3VuZDogb2tsY2goMC4yMDUgMCAwKTsKICAt
LXNpZGViYXItYm9yZGVyOiBva2xjaCgwLjkyMiAwIDApOwogIC0tc2lkZWJh
ci1yaW5nOiBva2xjaCgwLjcwOCAwIDApOwp9CgovKgogIC0tLWJyZWFrLS0t
CiovCi5kYXJrIHsKICAtLWJhY2tncm91bmQ6IG9rbGNoKDAuMTQ1IDAgMCk7
CiAgLS1mb3JlZ3JvdW5kOiBva2xjaCgwLjk4NSAwIDApOwogIC0tY2FyZDog
b2tsY2goMC4yMDUgMCAwKTsKICAtLWNhcmQtZm9yZWdyb3VuZDogb2tsY2go
MC45ODUgMCAwKTsKICAtLXBvcG92ZXI6IG9rbGNoKDAuMjA1IDAgMCk7CiAg
LS1wb3BvdmVyLWZvcmVncm91bmQ6IG9rbGNoKDAuOTg1IDAgMCk7CiAgLS1w
cmltYXJ5OiBva2xjaCgwLjkyMiAwIDApOwogIC0tcHJpbWFyeS1mb3JlZ3Jv
dW5kOiBva2xjaCgwLjIwNSAwIDApOwogIC0tc2Vjb25kYXJ5OiBva2xjaCgw
LjI2OSAwIDApOwogIC0tc2Vjb25kYXJ5LWZvcmVncm91bmQ6IG9rbGNoKDAu
OTg1IDAgMCk7CiAgLS1tdXRlZDogb2tsY2goMC4yNjkgMCAwKTsKICAtLW11
dGVkLWZvcmVncm91bmQ6IG9rbGNoKDAuNzA4IDAgMCk7CiAgLS1hY2NlbnQ6
IG9rbGNoKDAuMjY5IDAgMCk7CiAgLS1hY2NlbnQtZm9yZWdyb3VuZDogb2ts
Y2goMC45ODUgMCAwKTsKICAtLWRlc3RydWN0aXZlOiBva2xjaCgwLjcwNCAw
LjE5MSAyMi4yMTYpOwogIC0tYm9yZGVyOiBva2xjaCgxIDAgMCAvIDEwJSk7
CiAgLS1pbnB1dDogb2tsY2goMSAwIDAgLyAxNSUpOwogIC0tcmluZzogb2ts
Y2goMC41NTYgMCAwKTsKICAtLWNoYXJ0LTE6IG9rbGNoKDAuNDg4IDAuMjQz
IDI2NC4zNzYpOwogIC0tY2hhcnQtMjogb2tsY2goMC42OTYgMC4xNyAxNjIu
NDgpOwogIC0tY2hhcnQtMzogb2tsY2goMC43NjkgMC4xODggNzAuMDgpOwog
IC0tY2hhcnQtNDogb2tsY2goMC42MjcgMC4yNjUgMzAzLjkpOwogIC0tY2hh
cnQtNTogb2tsY2goMC42NDUgMC4yNDYgMTYuNDM5KTsKICAtLXNpZGViYXI6
IG9rbGNoKDAuMjA1IDAgMCk7CiAgLS1zaWRlYmFyLWZvcmVncm91bmQ6IG9r
bGNoKDAuOTg1IDAgMCk7CiAgLS1zaWRlYmFyLXByaW1hcnk6IG9rbGNoKDAu
NDg4IDAuMjQzIDI2NC4zNzYpOwogIC0tc2lkZWJhci1wcmltYXJ5LWZvcmVn
cm91bmQ6IG9rbGNoKDAuOTg1IDAgMCk7CiAgLS1zaWRlYmFyLWFjY2VudDog
b2tsY2goMC4yNjkgMCAwKTsKICAtLXNpZGViYXItYWNjZW50LWZvcmVncm91
bmQ6IG9rbGNoKDAuOTg1IDAgMCk7CiAgLS1zaWRlYmFyLWJvcmRlcjogb2ts
Y2goMSAwIDAgLyAxMCUpOwogIC0tc2lkZWJhci1yaW5nOiBva2xjaCgwLjU1
NiAwIDApOwp9CgovKgogIC0tLWJyZWFrLS0tCiovCkB0aGVtZSBpbmxpbmUg
ewogIC0tcmFkaXVzLXNtOiBjYWxjKHZhcigtLXJhZGl1cykgLSA0cHgpOwog
IC0tcmFkaXVzLW1kOiBjYWxjKHZhcigtLXJhZGl1cykgLSAycHgpOwogIC0t
cmFkaXVzLWxnOiB2YXIoLS1yYWRpdXMpOwogIC0tcmFkaXVzLXhsOiBjYWxj
KHZhcigtLXJhZGl1cykgKyA0cHgpOwogIC0tY29sb3ItYmFja2dyb3VuZDog
dmFyKC0tYmFja2dyb3VuZCk7CiAgLS1jb2xvci1mb3JlZ3JvdW5kOiB2YXIo
LS1mb3JlZ3JvdW5kKTsKICAtLWNvbG9yLWNhcmQ6IHZhcigtLWNhcmQpOwog
IC0tY29sb3ItY2FyZC1mb3JlZ3JvdW5kOiB2YXIoLS1jYXJkLWZvcmVncm91
bmQpOwogIC0tY29sb3ItcG9wb3ZlcjogdmFyKC0tcG9wb3Zlcik7CiAgLS1j
b2xvci1wb3BvdmVyLWZvcmVncm91bmQ6IHZhcigtLXBvcG92ZXItZm9yZWdy
b3VuZCk7CiAgLS1jb2xvci1wcmltYXJ5OiB2YXIoLS1wcmltYXJ5KTsKICAt
LWNvbG9yLXByaW1hcnktZm9yZWdyb3VuZDogdmFyKC0tcHJpbWFyeS1mb3Jl
Z3JvdW5kKTsKICAtLWNvbG9yLXNlY29uZGFyeTogdmFyKC0tc2Vjb25kYXJ5
KTsKICAtLWNvbG9yLXNlY29uZGFyeS1mb3JlZ3JvdW5kOiB2YXIoLS1zZWNv
bmRhcnktZm9yZWdyb3VuZCk7CiAgLS1jb2xvci1tdXRlZDogdmFyKC0tbXV0
ZWQpOwogIC0tY29sb3ItbXV0ZWQtZm9yZWdyb3VuZDogdmFyKC0tbXV0ZWQt
Zm9yZWdyb3VuZCk7CiAgLS1jb2xvci1hY2NlbnQ6IHZhcigtLWFjY2VudCk7
CiAgLS1jb2xvci1hY2NlbnQtZm9yZWdyb3VuZDogdmFyKC0tYWNjZW50LWZv
cmVncm91bmQpOwogIC0tY29sb3ItZGVzdHJ1Y3RpdmU6IHZhcigtLWRlc3Ry
dWN0aXZlKTsKICAtLWNvbG9yLWJvcmRlcjogdmFyKC0tYm9yZGVyKTsKICAt
LWNvbG9yLWlucHV0OiB2YXIoLS1pbnB1dCk7CiAgLS1jb2xvci1yaW5nOiB2
YXIoLS1yaW5nKTsKICAtLWNvbG9yLWNoYXJ0LTE6IHZhcigtLWNoYXJ0LTEp
OwogIC0tY29sb3ItY2hhcnQtMjogdmFyKC0tY2hhcnQtMik7CiAgLS1jb2xv
ci1jaGFydC0zOiB2YXIoLS1jaGFydC0zKTsKICAtLWNvbG9yLWNoYXJ0LTQ6
IHZhcigtLWNoYXJ0LTQpOwogIC0tY29sb3ItY2hhcnQtNTogdmFyKC0tY2hh
cnQtNSk7CiAgLS1jb2xvci1zaWRlYmFyOiB2YXIoLS1zaWRlYmFyKTsKICAt
LWNvbG9yLXNpZGViYXItZm9yZWdyb3VuZDogdmFyKC0tc2lkZWJhci1mb3Jl
Z3JvdW5kKTsKICAtLWNvbG9yLXNpZGViYXItcHJpbWFyeTogdmFyKC0tc2lk
ZWJhci1wcmltYXJ5KTsKICAtLWNvbG9yLXNpZGViYXItcHJpbWFyeS1mb3Jl
Z3JvdW5kOiB2YXIoLS1zaWRlYmFyLXByaW1hcnktZm9yZWdyb3VuZCk7CiAg
LS1jb2xvci1zaWRlYmFyLWFjY2VudDogdmFyKC0tc2lkZWJhci1hY2NlbnQp
OwogIC0tY29sb3Itc2lkZWJhci1hY2NlbnQtZm9yZWdyb3VuZDogdmFyKC0t
c2lkZWJhci1hY2NlbnQtZm9yZWdyb3VuZCk7CiAgLS1jb2xvci1zaWRlYmFy
LWJvcmRlcjogdmFyKC0tc2lkZWJhci1ib3JkZXIpOwogIC0tY29sb3Itc2lk
ZWJhci1yaW5nOiB2YXIoLS1zaWRlYmFyLXJpbmcpOwogIC0tYW5pbWF0ZS1h
Y2NvcmRpb24tZG93bjogYWNjb3JkaW9uLWRvd24gMC4ycyBlYXNlLW91dDsK
ICAtLWFuaW1hdGUtYWNjb3JkaW9uLXVwOiBhY2NvcmRpb24tdXAgMC4ycyBl
YXNlLW91dDsKCiAgLyoKICAtLS1icmVhay0tLQoqLwogIEBrZXlmcmFtZXMg
YWNjb3JkaW9uLWRvd24gewogICAgZnJvbSB7CiAgICAgIGhlaWdodDogMDsK
ICAgIH0KCiAgICB0byB7CiAgICAgIGhlaWdodDogdmFyKC0tcmFkaXgtYWNj
b3JkaW9uLWNvbnRlbnQtaGVpZ2h0KTsKICAgIH0KICB9CgogIC8qCiAgLS0t
YnJlYWstLS0KKi8KICBAa2V5ZnJhbWVzIGFjY29yZGlvbi11cCB7CiAgICBm
cm9tIHsKICAgICAgaGVpZ2h0OiB2YXIoLS1yYWRpeC1hY2NvcmRpb24tY29u
dGVudC1oZWlnaHQpOwogICAgfQoKICAgIHRvIHsKICAgICAgaGVpZ2h0OiAw
OwogICAgfQogIH0KfQoKLyoKICAtLS1icmVhay0tLQoqLwpAbGF5ZXIgYmFz
ZSB7CiAgKiB7CiAgICBAYXBwbHkgYm9yZGVyLWJvcmRlciBvdXRsaW5lLXJp
bmcvNTA7CiAgfQoKICBib2R5IHsKICAgIEBhcHBseSBiZy1iYWNrZ3JvdW5k
IHRleHQtZm9yZWdyb3VuZDsKICB9Cn0=
